*{
	margin:0;
	padding:0;
}
#video_box
{
	margin:30px auto;
	width:600px;
}
#controller
{
	width:100%;
	height:50px;
	background:#ccc;
	font-family: '微软雅黑';
	font-size: 15px;
	color:#fff;
}
.contbtns
{
	width:50px;
	height:50px;
	line-height: 50px;
	text-align: center;
	margin-right:5px;
	float:left;
	background:#399;
	cursor:pointer;
}
.addwidth
{
	width:157px;
}
.contbar,.audio_contbar
{
	position:relative;
	width:157px;
	height:20px;
	top:15px;
	left:0;
	background:#fff;
}
.speed_progress,.audio_speed_progress
{
	position:absolute;
	width:0px;
	height:20px;
	background:#999;
}
.slider,.audio_slider
{
	position: absolute;
	width:10px;
	height:20px;
	background:#667;
}
.audio_speed_progress
{
	width:147px;
}
.audio_slider
{
	right:0;
}
.mute
{
	text-decoration: line-through;
}
.clearfix:after
{
	display:block;
	content:'';
	clear:both;
}
.clearfix
{
	zoom:1;
}